In [3]:
import pandas as pd
import numpy as np

# 1) Show the first five rows of the dataset.

In [18]:
salary = pd.read_csv('Salaries.csv')
salary.head()

/var/folders/32/jqjwx5p51sqc0gg7mgcsrhvr0000gn/T/ipykernel_33127/3692514942.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salary = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 2) Calculate the average of BasePay series.

In [20]:
salary.drop([148646,148650,148651,148652],inplace=True)
salary=salary.reset_index()

In [21]:
salary['BasePay']=salary['BasePay'].astype("float64")
salary['BasePay'].mean()

66325.44884050643

# 3) What is the highest amount of OvertimePay and OtherPay

In [7]:
salary[['OvertimePay','OtherPay']]=salary[['OvertimePay','OtherPay']].astype('float64')
salary[['OvertimePay','OtherPay']].max()

OvertimePay    245131.88
OtherPay       400184.25
dtype: float64

# 4) What is the name of lowest paid person including Benefits.

In [8]:
salary['Benefits']=salary['Benefits'].astype(dtype='float64')

In [9]:
salary[(salary['TotalPay']<=0)&(salary['Benefits']<=0)].head(1)['EmployeeName']

110528    Timothy E Gibson
Name: EmployeeName, dtype: object

# 5) What is the average BasePay of all employee per year(2011-2014)

In [10]:
year_grp=salary.groupby('Year')
year_grp.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# 6) How many people have Chief word in their JobTitle (optional)

In [25]:
salary[salary['JobTitle'].str.contains('Chief')]

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36160,36160,36161,Gregory Suhr,Chief of Police,302578.00,0.0,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36162,36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.0,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36169,36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.9,316988.26,369309.16,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [12]:
len(salary[salary['JobTitle'].str.contains('Chief')])

423

# 7) What are top 5 most common jobs?

In [13]:
salary['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# 8) How many unique job titles are there?

In [23]:
unique_jobs1=salary['JobTitle'].value_counts()
(unique_jobs1==1).sum()

239

# 9) Show last five rows of the dataset?

In [19]:
salary.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

# 10) How many job titles were represented by only one person in 2013? (example : JobTitles with only one occurence in 2013) (optional)

In [16]:
yr_2013=salary[salary['Year']==2013]
(yr_2013['JobTitle'].value_counts()==1).sum()

202

In [17]:
# salary[salary['Year']==2013,salary['JobTitle'].value_counts()==1].sum()